{#
Code provenant de :
https://symfony.com/blog/new-in-symfony-3-3-improved-flash-messages
#}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
